/*.createNote {*/
/*    border: solid green 1px;*/
/*}*/

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    /*border: solid grey 1px;*/
    /*width: 600px;*/
}

.form input {
    border: solid grey 2px;
    border-radius: 20px;
    width: 500px;
    height: 30px;
}

.button {
    width: 150px;
    height: 70px;
    border-radius: 40px;
    cursor: pointer;
}