.createNote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.form input {
    border: none;
    border-radius: 5px;
    width: 500px;
    height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form input:focus {
    outline: none !important;
}

.form input:hover {
    background: #e6f7ff;
}


.button {
    width: 150px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    background: #ccffcc;
    color: #8080ff;
}

.button:hover {
    background: #80d7ff;
}