.note {
    background: #b3ff66;
    max-width: 300px;
    border-radius: 10px;
    padding: 10px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.note input {
    border-radius: 20px;
    border: none;
    background: #b3ff66;
}

.note input:focus {
    outline: none !important;
}

